<head>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">

<title>Log In</title>
</head>

{% extends "layout.html" %}

{% block body %}

<form action="/login" method="post">
    <div class="container">
        <div class="center">
            <h1>Login</h1>
            <form action="" method="POST">
                <div class="txt_field">
                    <input autocomplete="off" type="text" name="username" required>
                    <span></span>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input autocomplete="off" type="password" name="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <input name="submit" type="Submit" value="Login">
                <div class="signup_link">
                    Not a Member ? <a href="/register">Register</a>
                </div>
            </form>
        </div>
      </div>
</form>

{% endblock %}
